.AdDetailsContainer {
  text-align: center;
  padding: 15px;
  font-weight: 300;
  background-color: #00bfff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.AdDetailsButtons,
.AdDetailsButtons:link,
.AdDetailsButtons:visited {
  display: inline-block;
  margin: 10px;
  padding: 10px 27.5px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  border: 1px solid #555;
  color: #555;
}


.AdDetailsButtons:hover,
.AdDetailsButtons:active {
  background-color: #fd8f2e;
  border: 1px solid #fd8f2e;
  color: #fff;
}
