.AdForm_input {
  width: 200px;
  height: 30px;
  margin: 1rem;
  border-radius: 2rem;
}
.AdForm_textarea {
  width: 200px;
  border-radius: 1rem;
  height: 40px;
  margin: 1rem;
}

.AdForm_submitButton,
.AdForm_submitButton:link,
.AdForm_submitButton:visited {
  display: inline-block;
  margin: 10px;
  padding: 10px 27.5px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  border: 1px solid #555;
  color: #555;
  
}

.AdForm_submitButton:hover,
.AdForm_submitButton:active {
  background-color: #fd8f2e;
  border: 1px solid #fd8f2e;
  color: #fff;
}
