.AdsList {
    text-align: center;
    padding: 15px;
    font-weight: 300;
    background-color: #00bfff;
  }
  
  a,
  a:link,
  a:visited {
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
    color: #555;
    margin-bottom: 60px;
  }
  
  a:hover,
  a:active {
    font-weight: bold;
  }
  
  ul {
    list-style-type: none;
  }