.AdsList {
  text-align: center;
  padding: 15px;
  font-weight: 300;
  background-color:  #00bfff;
  display: flex;
  flex-direction: column;
}
.Ads {
  border: solid #fff 0.2rem;
  width: 350px;
  height: 350px;
  padding: 1rem;
  margin: 0.4rem;
  float: left;
  border-radius: 2rem;

}
.WeBay{
 font-size: 4rem;
}
.images {
  border-radius: 2rem;
  object-fit: cover;
  width: 250px;
  height: 250px;
  margin: 2rem;
  border: double #fff 0.5rem;
  transition: transform .2s;
}

.images:hover {
  transform: scale(1.5);
}
